# Ignorar arquivos de compilação e LLVM no gráfico de linguagens
*.ll linguist-detectable=false
*.bc linguist-detectable=false
*.o linguist-detectable=false
*.out linguist-detectable=false

# (opcional) Ignorar pastas de build e dependências
/build linguist-detectable=false
/bin linguist-detectable=false
/obj linguist-detectable=false
